.BarraLateral {
  width: 80px;
  transition: width 0.4s ease;
  display: flex;
  flex-direction: column;
  top: 74px;
  padding-top: 60px;
  background-color: #f0f7ff;
  position: fixed;
  height: 100%;
  z-index: 1000;
  justify-content: flex-start;
  padding: 10px;
  padding-right: 10px;
}

.BarraLateral.expanded {
  width: 200px;
}

.BarraLateral ul {
  list-style: none;
  padding: 0;
  padding-right: 15px;
  margin: 5px 5px;
  width: 100%;
}

.BarraLateral ul li {
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.BarraLateral.expanded {
  width: 200px;
  transition: 0.3ms;
}

a:link, a:visited, a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.icon-container {
  height: 40px;
  margin: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 13px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.icon-container i {
  font-size: 27px;
  font-weight: bold;
  margin-left: 15px;
  max-width: 70px;
}

.icon-label {
  font-size: 20px;
  margin-left: 15px;
  opacity: 0;
  transition: opacity 0.7s ease;
  font-weight: bold;
}

.BarraLateral.expanded .icon-label {
  opacity: 1;
  transition: 0.5ms ease;
}

.BarraLateral:not(.expanded) .icon-label {
  display: none;
}

.icon {
  color: #1c1c1c;
}

.icon-container:hover {
  background-color: rgb(218, 233, 254);
}

.icon-container.selected {
  background-color: rgba(44, 142, 169, 0.555);
}