
.BarraSuperior {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 10px;
  background-color: #f3f9ff;
  color: rgb(44, 81, 169);
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 100;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 0rem 1.5rem;
  min-height: 74px;
}
  

.icon {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 24px;
    align-items: center;
}
.BarraSuperior-left {
    display: flex;
    align-items: center;
}

.Nomedoprojeto {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    position: flex;
}

.BarraSuperior-right .foto-perfil {
    position: flex;
    cursor: pointer;
    align-items: center;
    width:  60px;
    height: 60px;
    border-radius: 90%;
    background-color: rgb(255, 255, 255);
}
  .BarraSuperior-left {
    display: flex;
    align-items: center;
  }
  
  .BarraSuperior-right {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-info-dropdown {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
    width: 150px;
    right: 0;
    background-color: rgb(218, 233, 254);
    color: black;
    border: 2px solid #1b4d5314;
    border-radius: 10px;
    padding: 40px;
    z-index: 300;
    font-size: large;
    cursor: pointer;
  }

  .user-info-dropdown:hover {
    background-color: rgb(218, 233, 254);
  }
  
  .user-info-dropdown p {
    margin:10px 0;
  }
  

